//Font Family
$font-family : 'Montserrat', open-sans;

//Font weight
$regular: 400;
$medium: 600;
$bold: 700; 

//Font size
$xxxx-large: 130;
$xxx-large: 100;
$xx-large: 30;
$x-large: 20;
$large: 18; 
$medium: 16;
$small: 14;
$x-small: 12; 
$xx-small: 10;

//Colores
//First Color Scheme
$white: #FFF;
$platinum: #E8E8E8;
$gray: #e2e0e0;

//Second color Scheme
$carmine-pink: #E94F37;
$salmon: #EF7F6D;

//Third color Scheme
$black-olive: #393E41;
$granite-gray: #5D6163;
$old-silver: #f8f8f8;